*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    /* background: #1bdd28; */
    color: #090101;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #2a6c6c;
    /* background: linear-gradient(135deg, #0f0f23 0%, #1a0033 50%, #2d1b69 100%); */
    padding: 50px;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.233);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight:var(#118d19);
}

.introduction {
    margin-bottom: 20px;
    text-align: justify;
    justify-content: center;
    font-weight:600;
}

.sous-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
}
.image {
    width: 40px;
    height: 50px;
}
.sous-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 10px bold;
    font-size: 30px;
}

.table-container {
    overflow-x: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(10, 175, 217, 0.496);
    color: black;
    text-decoration: 2px solid;
    /* margin-bottom: 20px; */
}

.table th, .table td {
    border: 2px solid #333;
    padding: 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.paragraph {
    margin-bottom: 20px;
    text-align: justify;
    justify-content: center;
    font-weight: 600;
}

.list ul {
    list-style-type: disc;
    padding-left: 20px;
}

.list li {
    margin-bottom: 15px;
}

.list h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

.list p {
    text-align: justify;
    font-weight: 600;
}

.list h4 {
    margin-bottom: 5px;
    font-weight: bold;
}

.plan-items{
    text-align: justify;
    font-weight: 800;
}

.conclusion {
    margin-top: 30px;
    text-align: justify;
    justify-content: center;
    font-weight: 600;
}

.signature {
    text-align: right;
    font-weight: bold;
    margin-top: 50px;
}

.footer {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}

#signature {
    width: 200px;
    height: auto;
    margin-top: 10px;
}